doctype html
html
  head
    title= "Video Framework"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navbarDiv")
      nav(class="navbar")
        a(class="brand")
        div(class="list")
          ul(class="navbar-scroll")
            li(class="row") Navbar Test
            li(class="row") te
            li(class="row") te
            li(class="row") te
            li(class="row") te
            li(class="row") te
    block content
