doctype html
html
  head
    title= "Video Framework"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navbarDiv")
      nav(class="navbar")
        a(class="brand" , href='/')
          img(class="icon",src='/Icons/HomeIcon.png' )
        div(class="list")
          ul(class="navbar-scroll")
            li(class="row")
              a(class="navbarLink",href="/videotest" ) Video
        form(class="searchForm")
          input(class="searchBox",type="text",placeholder="Search")
          input(class="searchIcon",type="submit", value="")
    block content
  footer
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js")
    script(type="text/javascript" src="/javascripts/CookieNotice.js")
    div(class="CookieNotice")
      span(class="cookieInformation") Hey, we use cookies, we need them to give you the best experience of our site - so to get rid of this little message, you're going to have to accept them. We also have one of those Privacy Policy thingymebobs, click here&nbsp
        a(href="/privacyPolicy") here to read!
      a(class="acceptCookie", onclick="acceptCookies()") Ok
