extends layout


block content
    p Test
    div(style="background-color: black; display:table; width:100%;")
        div(style="display:table-cell")
            video(class='videoPlayer',autoplay='', controls, src='Test.mp4', type='video/mp4')
