extends layout


block content
    h1 Title
    div(class="videoContainer")
        div(style="display:table-cell")
            video(class='videoPlayer', controls, src='/Videos/Test.mp4', type='video/mp4')
