body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: White;
  background: #282828;
  margin:0px;
}


a {
  color: #00B7FF;
}
p{
  colour: green;
}
.videoPlayer {
  height: 100%;
  width:100%;
  object-fit:contain;
  vertical-align:top;
}
.navbarDiv {
  position:relative;
  margin-right:0;
  margin-left:0;
  top:0;
  border-width:.2rem;
  box-sizing:border-box;
}
.navbar{
  flex-flow:row nowrap;
  justify-content:flex-start;
  background-color:#570480;
  display:flex;
}
.list{
  display:flex;
  flex-basis:auto;
  text-align:center;
}
.navbar-scroll{
  flex-direction:row;
  margin:auto auto;
  display:flex;
  list-style:none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: White;
}
.row{
  box-sizing:border-box;
}
.videoContainer{
  background-color: black;
  display:table;
  width:100%;
  height:70vh;
}
.navbarLink{
  color:#A9A9A9;
  text-decoration:none;
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.icon{
 width:50px;
  height:50px;
  margin-left:10px;
  margin-bottom:10px;
  margin-top: 10px;
}
.searchForm{
  margin-left:auto;
  margin-top:auto;
  margin-bottom:auto;
  padding:10px;
  display:inline-flex;
}
.searchIcon{
  background:url('/Icons/SearchIcon.png');
  background-size:cover;
  height:30px;
  width:30px;
  border:none;
}
.searchBox{
  height:30px;
  padding:0px;
  border:none;
}
.CookieNotice{
  background-color:#000000;
  display:block;
  position:fixed;
  text-align:center;
  z-index:1000000;
  bottom:0;
  min-width:100%;
  line-height:30px;
}
.acceptCookie{
  cursor: pointer;
  margin-left:10px;
  line-height:18px;
  border-color:#bbb;
  color: #333333;
  border-style:solid;
  border-width:1px;
  display:inline-block;
  padding:2px 12px;
  text-decoration:none;
  background:linear-gradient(to bottom, #FEFEFE, #F4F4F4) repeat scroll 0 0 #F3F3F3;
  border-radius:3px 3px 3px 3px;
}
.votes{
  float:right;
}
.titleAndUpvotes{
  display:inline-block;
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
}
.iconUp{
  margin-left:5px;
  width:20px;
  height:20px;
  float:right;
  border-radius:50%;
  background-color:#282828;
}
.iconDown{
  margin-left:5px;
  width:20px;
  height:20px;
  float:right;
  border-radius:50%;
  background-color:#282828;
}
