body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: White;
  background: #282828;
  margin:0px;
}
#videoPlayer{

}

a {
  color: #00B7FF;
}
p{
  colour: green;
}
.videoPlayer {
  max-height:70%;
  max-width:100%;
  margin: 0 auto;
  display: block;
}
.navbarDiv {
  position:relative;
  margin-right:0;
  margin-left:0;
  top:0;
  border-width:.2rem;
  box-sizing:border-box;
}
.navbar{
  flex-flow:row nowrap;
  justify-content:flex-start;
  background-color:#570480;
  display:flex;
}
.list{
  display:flex;
  flex-basis:auto;
  text-align:center;
}
.navbar-scroll{
  flex-direction:row;
  display:flex;
  list-style:none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: White;
}
.row{
  box-sizing:border-box;
}
.videoContainer{
  background-color: black;
  display:table;
  width:100%;
}
.navbarLink{
  color:#A9A9A9;
  text-decoration:none;
}
.icon{
 width:50px;
  height:50px;
  margin-left:10px;
  margin-bottom:10px;
  margin-top: 10px;
}